<div id="<%= dom_id transaction %>">
  <p>
    <strong>Sender:</strong>
    <%= transaction.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= transaction.receiver_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

  <p>
    <strong>Error message:</strong>
    <%= transaction.error_message %>
  </p>

</div>
