<!DOCTYPE html>
<html>
  <head>
    <title>Catbank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div>
      <h2>Menu</h2>
      <a href="<%= root_path %>">Home</a>
      <a href="<%= user_profile_path %>">Profile</a>
      <a href="<%= user_profile_path %>">Account</a>
      <br/>
      <h2>Account</h2>
      <% if current_user %>
        <p>Hello <%= current_user.display_name %></p>
        <a href="<%= auth_sign_out_path %>">Sign out</a>
      <% else %>
        <p>Not signed in</p>
        <a href="<%= auth_sign_in_path %>">Sign in</a>
        <a href="<%= new_user_path %>">Sign up</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
